.button {
    height: 40px;
    width: 120px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: #959c9c;
    color: black;
    font-size: x-large;
    border: 2px solid #3E5151;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.button:hover {
    background-color:#b9a989ed;
    transform: scale(1.05);
    cursor: pointer;
}

.input{
    background-color:#959c9c;
    border-radius: 10px;
    height: 40px;
}